@import "../../../unit.scss";

.cs-status {
    display: flex;
    gap: $space;
    width: max-content;
    position: relative;
    font-size: 0.8rem;

    &__info {
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        display: inline-block;
        border-radius: 50%;
        background-color: $highlight_color;
        left: -30px;
    }
}