@import "../../../unit.scss";

.cs-checkbox {
    display: inline-block;
    padding: $space;
    cursor: pointer;
    
    &__container {
        display: flex;
        gap: $space;
        justify-content: space-between;
        align-items: center;
    }
}